.project__list {
    margin: -15px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.project__item {
    margin: 15px;
    background-color: $white-color;
    outline: 1px solid $bg-color-border-project;
    outline-offset: -1px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 3);
    }
}

.project__link {
    display: block;
    height: 100%;
    color: inherit;

    transition: box-shadow $transition-duration $transition-timing-function;

        &:hover,
        &:focus {
        box-shadow: $box-shadow-project;
    }

}

.project-description {
    position: relative;
    overflow: hidden;
}

.project-cards{
    padding: 20px 24px;
}

.project-cards__title {
    margin-bottom: 4px;
  
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
  
    color: $title-text-color;
}

.project-description__text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 77px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    transform: translateY(100%);
    transition: transform $transition-duration $transition-timing-function;
  
    color:$white-color;
    background-color: $bg-color-project;

    @media screen and (min-width: 768px) {
        padding: 49px 24px;
    }

    @media screen and (min-width: 1200px) {
        padding: 63px 24px;
    }
}

.project__item:hover .project-description__text {
    transform: translateY(0);
}

.project-cards__text {
    font-size: 16px;
    line-height: calc(30 / 16);
}