.work {
    padding-top: 0px;

    @media screen and (max-width: 1199px) {
     display: none;
    }
}

.work__list{
    display: flex;
    margin: -15px;
}

.work__item{
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
}

.work__card{
    position: relative;
    overflow: hidden;
}

.work__text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;

    color: $white-color;
    background-color: $gradient-work;  
}